@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 10px;
}

.App-header div {
  margin-left: 10px;
}

.App a {
  color: black;
}

.App h3 {
  font-weight: normal;
  margin-bottom: 0;
}

.App p {
  margin: 0;
}
